@charset "utf-8";
/*
 * CSS Document
 * name   :base.css v1.0
 * author :tonjay
 * url    :flashnet.cn
 * time   :2017-01-01 
 */
html {
    font-size: 72.5%;
}
body, button, input, select, textarea {
    color: #444;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.6;
    word-wrap: break-word;
}
a {
    color: #666;
    font-weight: 300;
    text-decoration: none;
}
a:visited {
    font-weight: 300;
    color: #666;
}
a:hover, a:focus, a:active {
    font-weight: 300;
}
img {
    vertical-align: middle;
}
button, input, select, textarea {
    font-size: 1em;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    *vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: inherit;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
.float-box {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.tl {
    text-align: left;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.w100 {
    width: 100%;
}
.max-font {
    font-size: 2rem;
}
.mid-font {
    font-size: 1.4rem;
}
.small-font {
    font-size: 1.2rem;
}
.min-font {
    font-size: 1rem;
}
.mt5 {
    margin-top: 5px;
}
.mt8 {
    margin-top: 8px;
}
.mt10 {
    margin-top: 10px;
}
.mt12 {
    margin-top: 12px;
}
.mt15 {
    margin-top: 15px;
}
.mt16 {
    margin-top: 16px;
}
.mt18 {
    margin-top: 18px;
}
.mr5 {
    margin-right: 5px;
}
.mr8 {
    margin-right: 8px;
}
.mr10 {
    margin-right: 10px;
}
.mr12 {
    margin-right: 12px;
}
.mr15 {
    margin-right: 15px;
}
.mr16 {
    margin-right: 16px;
}
.mr18 {
    margin-right: 18px;
}
.mr20 {
    margin-right: 20px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb8 {
    margin-bottom: 8px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb12 {
    margin-bottom: 12px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb16 {
    margin-bottom: 16px;
}
.mb18 {
    margin-bottom: 18px;
}
.mb20 {
    margin-bottom: 20px;
}
.ml5 {
    margin-left: 5px;
}
.ml8 {
    margin-left: 8px;
}
.ml10 {
    margin-left: 10px;
}
.ml12 {
    margin-left: 12px;
}
.ml15 {
    margin-left: 15px;
}
.ml16 {
    margin-left: 16px;
}
.ml18 {
    margin-left: 18px;
}
.ml20 {
    margin-left: 20px;
}
.pt5 {
    padding-top: 5px;
}
.pt8 {
    padding-top: 8px;
}
.pt10 {
    padding-top: 10px;
}
.pt12 {
    padding-top: 12px;
}
.pt15 {
    padding-top: 15px;
}
.pt16 {
    padding-top: 16px;
}
.pt18 {
    padding-top: 18px;
}
.pt20 {
    padding-top: 20px;
}
.pr5 {
    padding-right: 5px;
}
.pr8 {
    padding-right: 8px;
}
.pr10 {
    padding-right: 10px;
}
.pr12 {
    padding-right: 12px;
}
.pr15 {
    padding-right: 15px;
}
.pr16 {
    padding-right: 16px;
}
.pr18 {
    padding-right: 18px;
}
.pr20 {
    padding-right: 20px;
}
.pb5 {
    padding-bottom: 5px;
}
.pb8 {
    padding-bottom: 8px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb12 {
    padding-bottom: 12px;
}
.pb15 {
    padding-bottom: 15px;
}
.pb16 {
    padding-bottom: 16px;
}
.pb18 {
    padding-bottom: 18px;
}
.pb20 {
    padding-bottom: 20px;
}
.pl5 {
    padding-left: 5px;
}
.pl8 {
    padding-left: 8px;
}
.pl10 {
    padding-left: 10px;
}
.pl12 {
    padding-left: 12px;
}
.pl15 {
    padding-left: 15px;
}
.pl16 {
    padding-left: 16px;
}
.pl18 {
    padding-left: 18px;
}
.pl20 {
    padding-left: 20px;
}
.p5 {
    padding: 5px;
}
.p8 {
    padding: 8px;
}
.p10 {
    padding: 10px;
}
.p15 {
    padding: 15px;
}
.p20 {
    padding: 20px;
}
.m5 {
    margin: 5px;
}
.m8 {
    margin: 8px;
}
.m10 {
    margin: 10px;
}
.m15 {
    margin: 15px;
}
.m20 {
    margin: 20px;
}

html .delay2 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
html .delay3 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
html .delay4 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
html .delay5 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
html .delay6 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
html .delay7 {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
html .delay8 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
html .delay9 {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
html .delay10 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
html .delay11 {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
html .delay12 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
html .delay13 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}
html .delay14 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
html .delay15 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
html .delay16 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
html .delay17 {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}
html .delay18 {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}
html .delay19 {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
}
html .delay20 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
html .delay21 {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}
html .delay22 {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}
html .delay23 {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
}
html .delay24 {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}
html .delay25 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
html .delay26 {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s;
}
