/*button 样式*/
.comm-btn {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    background: #fff;
    border-radius: 3px;
    letter-spacing: .025em;
    color: #09bb07;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.comm-btn:active {
    background: #eee;
    -webkit-transform: translateY(1px);
}

.comm-btn.primary {
    color: #39f;
    border: 1px solid #39f;
}

.comm-btn.primary:hover {
    background: #39f;
    color: #fff;
}

.comm-btn.primary:active {
    background: #5CB0FD;
    -webkit-transform: translateY(1px);
}

.comm-btn.warn {
    background: #39f;
    color: #fff;
}

.comm-btn.warn:hover {
    background: #5CB0FD;
    color: #fff;
}

.comm-btn.warn:active {
    background: #5CB0FD;
    -webkit-transform: translateY(1px);
}

.comm-btn.mid-btn {
    height: 50px;
    line-height: 50px;
    padding: 0 28px;
    font-size: 1.8rem;
}

.comm-btn.large-btn {
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
    font-size: 2.2rem;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.submnu {
    /* height: 260px;*/
    /*width: 1903px;
    position: absolute;
    z-index: 6;*/

    background-color: rgba(0, 0, 0, 0.7);
}
/*color*/
.green, .green:visited {
    color: #333;
}

.red, .red:visited {
    color: #E64340;
}

.blue, .blue:visited {
    color: #009ad6;
}

.grey, .grey:visited {
    color: #9a9a9a;
}

.blank, .blank:visited {
    color: white;
}

/*公用css动画效果*/
.comm-btn,
a,
img,
.mColum .more:after,
a.uline:after,
.popup li > input,
.main-body,
.chat-right .weixin img,
.case-box,
.test-app,
.case-box:after,
.idh-box {
    -webkit-transition: all .3s ease;
}

a.uline {
    position: relative;
}

a.uline:hover {
    text-decoration: none;
    margin-left: 3px;
}

a.uline:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 1px solid #39f;
}

a.uline:hover:after {
    width: 100%;
}

a:hover, a:focus, a:active {
    color: #666;
}

html {
    background: #fff;
}

html, body, .h-box, .f_box {
    min-width: 1200px;
}

.header {
    height: 80px;
}

.h-box {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #fff;
    padding: 15px 0;
}

.header a:hover {
    text-decoration: none;
}

.header .fr {
    line-height: 80px;
}

.header li {
    float: left;
    border-radius: 3px;
    overflow: hidden;
    margin-left: 2px;
    position: relative;
}

.video {
    margin: 0px 0 0 15px;
    position: relative;
    line-height: 80px;
}

.logo a {
    display: block;
    margin-left: 20px;
    width: 177px;
    height: 52px;
    position: relative;
}

.logo span.before {
    width: 52px;
    left: 0px;
    background-position: 3px top;
}

.logo span.after {
    width: 120px;
    right: 0;
    background-position: top right;
}

.h-btn .reg-box {
    position: relative;
    display: inline-block;
}

.h-btn .reg-box i {
    background: #fff;
    color: #09BB07;
    border: 1px solid #09BB07;
    position: absolute;
    font-size: 13px;
    font-style: normal;
    left: 50%;
    margin-left: -114px;
    top: 50px;
    line-height: 22px;
    padding: 0 8px;
    border-radius: 3px;
    white-space: nowrap;
}

.h-btn .reg-box i:after, .h-btn .reg-box i:before {
    content: "";
    display: block;
    position: absolute;
    left: 106px;
    border: 8px solid;
    border-color: transparent transparent #09BB07 transparent;
    top: -16px;
}

.h-btn .reg-box i:before {
    border-bottom-color: #fff;
    top: -15px;
    z-index: 1;
}

.menu {
    margin-right: 50px;
}

.menu a {
    display: block;
    line-height: 80px;
    padding: 0 22px;
    position: relative;
    overflow: hidden;
}

.menu a:after {
    content: "";
    display: none;
    position: absolute;
}

.menu a:after {
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
    z-index: -2;
    border-radius: 50%;
}

.menu a:hover, .menu a.active {
    color: #39f;
}

.menu a:hover:after, .menu a.active:after {
    display: block;
}

.main {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

.mfapp, .case {
    padding: 90px 0;
}

.mfapp h2, .case h2 {
    font-size: 30px;
}

.mfapp-con, .mColum {
    overflow: hidden;
}

.mfapp-con ul, .mColum-box, .case-list ul {
    margin: 0 -30px 0 0;
}

.mfapp-con li {
    width: 25%;
    padding: 15px 10px 20px;
    margin-top: 40px;
    float: left;
    max-height: 346px;
}

.mfapp-con .tags span {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0 8px;
    font-size: 12px;
    margin-right: 8px;
    height: 22px;
    line-height: 22px;
    vertical-align: bottom;
}

.mfapp-con .app-img {
    position: relative;

    display: block;
    overflow: hidden;
}

.mfapp-con p.small-font {
    height: 44px;
    overflow: hidden;
}

.mfapp-con li:hover {
    background: #fff;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    -ms-transform: translate3d(0, -2px, 0);
    -o-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.mfapp-con li:hover .app-btn {
    display: block;
}

.mfapp-con .clearfix img {
    width: 285px;
    height: 175px;
}

.test-app {
    opacity: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
    right: 30px;
    bottom: 0;
}

.test-app img {
    width: 140px;
    width: 140px;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin: -70px 0 0 -70px;
}

.test-app:after {
    content: "微信扫码体验";
    position: absolute;
    display: block;
    left: 7px;
    bottom: 30px;
    right: 0;
    text-align: center;
    color: #000;
    font-size: 14px;
    letter-spacing: 7px;
    z-index: 3;
}

.case-box {
    width: 100%;
    height: 100%;
    position: relative;
    background: #fff;
    border-radius: 3px;
}

.case-list li {
    width: 25%;
    padding-right: 30px;
    margin-top: 40px;
    float: left;
    position: relative;
}

.case-list li:hover {
    z-index: 1;
}

.case-list li:hover .test-app {
    opacity: 1;
}

.case-m {
    padding: 20px;
    position: relative;
}

.case-img {
    width: 100%;
    padding-top: 10px;
    text-align: -webkit-center;
}

.case-m h3 {
    overflow: hidden;
    text-align: center;
    margin-top: 16px;
    white-space: nowrap;
}

.case-m .thumb {
    border-radius: 3px;
}

.case-m p {
    height: 50px;
    margin-top: 12px;
    text-align: center;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.case-tags span {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 8px;
    font-size: 12px;
    margin-right: 5px;
    height: 22px;
    line-height: 22px;
    vertical-align: bottom;
    opacity: 0.8;
}

.case-sub li {
    padding-right: 0;
    width: 33.333333333%;
    margin-top: 0;
    border: 1px solid #eee;
    border-width: 0 1px 1px 0;
}

.case-sub .test-app {
    right: 0;
}

.case-sub .case-m {
    padding: 30px 30px 30px 110px;
}

.case-sub ul {
    margin-right: 0;
}

.mColum {
    padding: 90px 0;
}

.colum-item {
    width: 33.333333%;
    padding-right: 30px;
    float: left;
    position: relative;
}

.mColum .more {
    font-size: 14px;
    position: relative;
    padding-left: 6px;
}

.mColum .more:after {
    display: inline-block;
    content: "";
    margin: 6px 6px 0;
    border: 5px solid;
    border-color: transparent transparent transparent #999;
    vertical-align: top;
}

.mColum .more:hover {
    text-decoration: none;
    color: #39f;
}

.mColum .more:hover:after {
    margin: 6px 4px 0;
    border-color: transparent transparent transparent #39f;
}

.colum-news li {
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.join .iconfont {
    float: left;
    margin-left: -26px;
}

.idh-box {
    position: absolute;
    top: 0;
    font-size: 14px;
    line-height: 160%;
    padding: 20px;
    z-index: -1;
    border: 1px solid #ddd;
    right: -150px;
    background: #fff;
    text-align: left;
    border-radius: 3px 0 0 3px;
    border-left: 2px solid #09BB07;
    color: #666;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.1);
    cursor: default;
    white-space: nowrap;
}

.idh-box {
    position: absolute;
    top: 0;
    font-size: 14px;
    line-height: 160%;
    padding: 20px;
    z-index: -1;
    border: 1px solid #ddd;
    right: -150px;
    background: #fff;
    text-align: left;
    border-radius: 3px 0 0 3px;
    border-left: 2px solid #09BB07;
    color: #666;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.1);
    cursor: default;
    white-space: nowrap;
}
.tit {
    margin-bottom: 40px;
}

/*Slider*/
.bx-wrapper {
    position: relative;
    *zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    height: 520px;
    overflow: hidden;
}

.bx-viewport {
    -webkit--webkit-transform: translatez(0);
}

.bx-has-pager {
    position: absolute;
    left: 5%;
    bottom: 10%;
    z-index: 1;
}

.bx-pager-item {
    display: inline-block;
}

.bx-pager-link {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 15px;
    background: #434449;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0);
    font-size: 0;
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.bx-pager-link.active {
    background: #fff;
}

.slider-item {
    height: 520px;
    position: relative;
}

.slider-txt {
    position: absolute;
    top: 100px;
    left: 5%;
    width: 55%;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}

.slider-txt h2 {
    font-size: 56px;
}

.slider-txt .price {
    vertical-align: bottom;
    display: inline-block;
    padding: 0 25px;
    border: 1px solid #434449;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    border-radius: 3px 0 0 3px;
    height: 50px;
    line-height: 50px;
    background: #434449;
    background: rgba(0, 0, 0, 0.3);
}

.slider-txt .warn {
    border-radius: 0 3px 3px 0;
}

.slider-img {
    position: relative;
    top: 0%;
    right: 10%;
    bottom: 0;
    overflow: hidden;
    margin-right: -20%;
    -webkit-transform: rotate(20deg);
}

.s-theme {
    background: #accd3a;
    background: linear-gradient(20deg, #accd3a, #2bc792);
    color: #fff;
}

.s-theme-2 {
    background: #4fb8d9;
    background: linear-gradient(20deg, #6fe3e7, #4fb8d9 25%, #5648c1);
    color: #fff;
}

.s-theme-3 {
    background: #39f;
}

.s-theme-4 {
    background: #5dd19c;
    background: linear-gradient(20deg, #104a72, #5dd19c 75%, #fffae8);
    color: #fff;
}

.s-theme-5 {
    background: #dc2430;
    background: linear-gradient(-20deg, #7b4397, #dc2430);
    color: #fff;
}

/*foot*/
.f-box {
    width: 80%;
    margin: 0px auto;
    padding: 50px 0px;
    border-top: 1px solid #eee;
}

/*login & reg*/
.popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
}

.popup-box {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -260px 0 0 -180px;
    width: 360px;
    background: #fff;
    border-radius: 5px;
}

.popup-box li {
    height: 52px;
    line-height: 52px;
    position: relative;
}

.popup li > input {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #eee;
    padding: 0px 18px;
}

.popup li > input:focus {
    background: rgba(9, 187, 7, 0.15);
    color: #09BB07;
    padding: 0 15px 0 23px;
}

.popup .getYzm {
    position: absolute;
    top: 7px;
    right: 8px;
    box-shadow: inherit;
}

.login_btn {
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 1.4rem;
}

.close {
    position: absolute;
    top: -18px;
    right: -18px;
    background: #fff;
    background: linear-gradient(#fff, #ccc);
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.close:hover {
    background: #eee;
    color: #09BB07;
}

.close:active {
    background: #ccc;
    color: #000;
}

/*遮罩*/
/*.main-body.active {*/
/*-webkit-filter: blur(10px);*/
/*}*/

.popup.active {
    display: block;
}

.popup h3 {
    color: #fff;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.popup-reg h3 {
    background: #09BB07;
    background: linear-gradient(20deg, #09BB07, #2bc792);
}

.popup-login h3 {
    background: #E64340;
    background: linear-gradient(20deg, #E64340, #dca74a);
}

.remember {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    vertical-align: top;
    margin-top: 17px;
    border: 1px solid #ccc;
    position: relative;
    padding: 0;
}

.remember:checked {
    border: 1px solid #2f9833;
}

.remember:checked:after {
    content: "";
    display: block;
    border: 2px solid;
    border-color: transparent transparent #2f9833 #2f9833;
    width: 12px;
    height: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit--webkit-transform: translate(-75%, -60%) rotate(-45deg);
    -webkit-transform: translate(-75%, -60%) rotate(-45deg);
    -webkit--webkit-transform-origin: center top;
    -webkit-transform-origin: center top;
    border-radius: 3px;
}

/*视频 */
.video-box {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -225px 0 0 -400px;
    width: 800px;
    height: 450px;
    border-radius: 5px;
    background: #fff;
}

.video-main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*帮助中心*/
.sub-main {
    /*background: #fff;*/
    /*box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);*/
}

.banner {
    margin: 0 auto;
    margin-top: 80px;
}

.title {
    width: 1200px;
    margin: 0 auto;
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.sub-box {
    position: relative;
}

.sub-box:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 279px;
    bottom: 0;
}

.sidebar {
    width: 240px;
    position: relative;
    z-index: 1;
}

.sidebar a {
    display: block;
    padding: 12px 15px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar a:hover {
    text-decoration: none;
    background: #eee;
}

.sidebar a.active {
    background: #09BB07;
    background: linear-gradient(45deg, #09BB07, #2bc792);
    color: #fff;
    margin-right: -10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.r-box {
    width: 920px;
    float: right;
}

.typo {
    overflow: hidden;
    padding: 0 6% 3%;
}

.typo .single-tit {
    padding: 30px 0;
}

.ac-list li {
    padding: 6px 0;
    list-style: none;
    background-color: #fff;
    padding: 3% 6%;
    margin-bottom: 20px;
}

#content ul {
    display: none;
}

#tab li.current {
    color: #000;
    background: #e7f3ff;
    border-right: 3px solid #39f;
}

/*news*/
.news-box li {
    padding: 12px 25px;
    border-bottom: 1px solid #eee;
}

.page {
    margin: 50px auto;
}

.page a, .page span {
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: 5px 15px;
}

.page a:hover {
    background: #eee;
    text-decoration: none;
}

.page a.active {
    background: #09bb07;
    background: linear-gradient(45deg, #09BB07, #2bc792);
    color: #fff;
    border: 1px solid #09bb07;
}

/*自适应*/

@media (max-width: 1440px) {
    .h-box {
        left: 5%;
        width: 90%;
    }

    .slider-txt {
        left: 2%;
    }

    .main {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 1366px) {
    .h-box {
        left: 0;
        width: 100%;
    }

    .f_box {
        width: 100%;
    }

    .slider-img {
        right: 5%;
    }

    .main {
        margin-left: 30px;
        margin-right: 30px;
    }

    .bx-wrapper {
        margin-left: -30px;
        margin-right: -30px;
    }

    .menu a {
        padding: 0 15px;
    }

    .menu {
        margin-right: 20px;
    }
}

/*css动画*/

.test-app img {
    transform: scale(1.05);
    transition-delay: 0.1s;
}

.case-list li:hover .test-app, .case-list li:hover .case-box {
    transform: scale(1.05);
}

.case-list li:hover .case-box {
    box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.1);
}

.case-list li:hover .test-app img {
    transform: scale(0.9);
}

.popup {
    -webkit-animation: popupbg 0.4s ease forwards;
    -webkit-opacity: 0;
}

@-webkit-keyframes popupbg {
    0% {
        -webkit-opacity: 0;
    }
    100% {
        -webkit-opacity: 1;
    }
}

.popup .popup-box, .popup .video-box {
    -webkit-animation: popup 0.4s ease forwards;
    -webkit-transform: translateY(20%);
    -webkit-opacity: 0;
}

@-webkit-keyframes popup {
    0% {
        -webkit-transform: translateY(20%);
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
}

.mfapp-con li img {
    -webkit-transform: scale(1);
}

.mfapp-con li:hover img {
    -webkit-transform: scale(1.05);
}

.mfapp-con .app-btn {
    -webkit-animation: app-btn 0.4s ease forwards;
    -webkit-transform: translateY(40%);
    -webkit-opacity: 0;
}

@-webkit-keyframes app-btn {
    0% {
        -webkit-transform: translateY(40%);
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
}

.h-btn .reg-box i {
    -webkit-animation: reg-tips 0.6s ease infinite;
}

@-webkit-keyframes reg-tips {
    0% {
        -webkit-transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

.menu a:after {
    -webkit-animation: menu 0.6s ease-out forwards;
    -webkit-transform: scale(0.2);
    -webkit-opacity: 0;
}

@-webkit-keyframes menu {
    0% {
        -webkit-transform: scale(0.2);
        opacity: 0;
    }
    60% {
        -webkit-transform: scale(0.6);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

.logo span.before {
    -webkit-animation: logo 3s ease infinite;
}

@-webkit-keyframes logo {
    0% {
        -webkit-transform: rotate(0deg);
    }
    80%, 100% {
        -webkit-transform: rotate(360deg);
    }
}

.ie9-tips {
    font-size: 24px;
    text-align: center;
    padding: 15% 0 0;
}

.ie9-tips img {
    margin: 15px;
}

.ie9 .main-body, .ie9-tips {
    display: none;
}

.ie9 .ie9-tips {
    display: block;
}

/*mian*/
.have-cont .have-div .course .list {
    min-height: 280px;
    margin-left: -10px;
    margin-right: -10px;
}

.have-cont .have-div .course .list li i {
    display: inline-block;
    width: 62px;
    height: 63px;
    background: url(http://js.huke88.com/assets/images/new-tb.png)
        no-repeat
        center;
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 9999;
}

.have-cont .have-div .course .list li {
    display: block;
    float: left;
    padding: 15px 10px 40px;
    max-height: 285px;
    font-size: 16px;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.have-cont .have-div .course .list li:hover {
    background-color: #fff;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    -ms-transform: translate3d(0, -2px, 0);
    -o-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.have-cont .have-div .course .list li .cover-show {
    display: block;
    width: 335px;
    /*height: 206px;*/
    overflow: hidden;
    position: relative;
}

/*加载动画*/
.have-cont .have-div .course .list li .cover-show .pic {
    position: relative;
    /*background: url(http://js.huke88.com/assets/images/loading.gif) no-repeat center center;*/
    display: block;
    width: 100%;
    height: 100%;
}

.have-cont .have-div .course .list li .cover-show .pic img {
    display: block;
    /*width: 100%;*/
    /*height: 100%;*/
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
}

.have-cont .have-div .course .list li .cover-show .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, .35);
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    padding-left: 10px;
    height: 30px;
    overflow: hidden;
    padding: 0 10px;
}

.have-cont .have-div .course .list li .details h3 {
    font-size: 18px;
    color: #444;
    margin-top: 14px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    max-width: 100%;
    font-weight: 400;
    width: 335px;
}

.have-cont .have-div .course .list li .details .rule {
    font-size: 14px;
    color: grey;
    width: 224px;
    height: 20px;
}

.have-cont .have-div .course .list li:hover .cover-show img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.layout-width {
    width: 1200px;
    margin: 0 auto;
}

.have-cont .have-div .course .list li .details h3 {
    width: 224px;
}

.have-cont .have-div .course .list li .cover-show {
    width: 224px;
    /*height: 175px;*/
    background-color: #69f;
}

.have-cont .have-div .course .list li.item-li .pic img {
    width: 224px;
    /*height: 175px*/
}
/* */
.have-cont .have-div .course .list1 {
    min-height: 280px;
    /*margin-left: -10px;*/
    margin-right: -10px;
}
.have-cont .have-div .course .list1 li {
    display: block;
    float: left;
    max-height: 386px;
    background-color: #fafafa;
    font-size: 16px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.have-cont .have-div .course .list1 li:nth-child(3n) {
    margin-right: 0px;
}
.have-cont .have-div .course .list1 li .cover-show .pic img {
    display: block;
    width: 386px;
    height: 146px;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
}
/*.have-cont .have-div .course .list1 li .cover-show:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}*/
.have-cont .have-div .course .list1 li .cover-show .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, .35);
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    padding-left: 10px;
    height: 30px;
    overflow: hidden;
    padding: 0 10px;
}

.have-cont .have-div .course .list1 li .details h3 {
    font-size: 1.6rem;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    max-width: 100%;
    width: 386px;
    text-align: center;
    text-decoration: none;
}
.have-cont .have-div .course .list1 li .details .rule {
    font-size: 1.3rem;
    color: #9a9a9a;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /*height: 20px;*/
}

.have-cont .have-div .course .list1 li .details h5 {
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    max-width: 100%;
    width: 386px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}
.have-cont .have-div .course .list1 li:hover {
    background: #fafafa;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    -ms-transform: translate3d(0, -2px, 0);
    -o-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
/**/
.header {
    width: 100%;
    min-width: 1100px;
    background: #fff;
    border-bottom: 1px solid #ededed;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 200;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.header {
    position: fixed;
    top: 0;
}

.header .header-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1200px;
    height: 80px;
}

.mfapp-wrap {
    width: 1200px;
    margin: 0 auto;
}

.case-wrap {
    width: 100%;
    background-color: #fafafa;
}

.case {
    width: 1200px;
    margin: 0 auto;
}

.mColum-wrap {
    width: 1200px;
    margin: 0 auto;
}

/*轮播*/

#section-product {
    width: 1200px;
    margin: 80px auto;
}

.section-product .index-banner-nav {
    height: 480px;
    position: absolute;
}

.section-product .swiper-nav {
    width: 224px;
    height: 480px;
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
    position: absolute;
    left: 0px;
    z-index: 2;
}
.swiper-nav img {
    opacity: 0.8;
}

.section-product .swiper-nav ul li {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #ffffff;
    padding: 0px 20px 0px 30px;
    box-sizing: border-box;
    margin-bottom: 15px;
    -webkit-font-smoothing: antialiased;
}

.section-product .swiper-nav ul li a {
    color: #fff;
    opacity: 1;
    display: block;
    text-decoration: none;
}

.section-product .swiper-nav ul li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    top: -3px;
    position: relative;
    margin-right: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.swiper-nav ul li a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.section-product .product-slides {
    position: relative;
    height: 480px;
    min-width: 1200px;
    overflow: hidden;
}

/*轮播*/

/*新闻*/

.news-time {
    width: 70px;
    height: 80px;
    background-color: #e7f3ff;
    left: 40px;
    position: absolute;
}

.news-date {
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 24px;
    color: #39f;
}

.news-tip {
    background-color: #39f;
    color: #fff;
    height: 36px;
    text-align: center;
    line-height: 36px;
}

.news-info {
    padding-top: 25px;
    margin-bottom: 10px;
    color: #999;
}

/*新闻*/

/*侧边栏*/

.sliderbar {
    width: 60px;
    position: fixed;
    z-index: 100;
    top: 40%;
    margin-top: -100px;
    right: 10px;
}

.sliderbar-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    display: block;
    background-color: black;
    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    opacity: 0.25;
    cursor: pointer;
}
.sliderbar-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    display: block;
    background-color: black;
    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    opacity: 0.25;
    cursor: pointer;
}
.sliderbar-item.active {
    background-color: #646464;

    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

.sliderbar-up {
    position: fixed;
    z-index: 100;

    right: 10px;
    bottom: 20px;
    width: 60px;
    height: 60px;

    cursor: pointer;

    display: none;
}

.sliderbar-up img {
    position: absolute;

    top: 18px;
    left: 14px;
}

.sliderbar-qq {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;

    cursor: pointer;
}

.sliderbar-qq img {
    position: absolute;
    width: 45%;
    top: 16px;
    left: 16px;
}

.sliderbar-qq p {
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 0;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
}

.sliderbar-qqa {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;

    cursor: pointer;
}

.sliderbar-qqa img {
    position: absolute;
    width: 45%;
    top: 16px;
    left: 16px;
}

.sliderbar-qqa p {
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 0;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
}
.sliderbar-phone {
    position: absolute;
    left: 0;
    top: 70px;
    width: 60px;
    height: 60px;

    cursor: pointer;
}

.sliderbar-phone img {
    position: absolute;
    width: 45%;
    top: 16px;
    left: 16px;
}

.sliderbar-phone-show {
    position: absolute;
    width: 220px;
    height: 60px;
    top: 70px;
    left: -235px;
    background-color: #646464;
    line-height: 60px;
    text-align: center;
    color: white;

    display: none;
}
.sliderbar-top {
    position: absolute;
    left: 0;
    top: 70px;
    width: 60px;
    height: 60px;

    cursor: pointer;
}
.sliderbar-top img {
    position: absolute;
    width: 45%;
    top: 16px;
    left: 16px;
}
#goTop {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    display: block;
    background-color: black;
    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    opacity: 0.25;
    cursor: pointer;
}

#goTop:hover {
    background-color: #646464;

    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

#goCart, #goChat, #goTop, #feedback {
    background-image: url('../img/top.png') !important;
    background-repeat: no-repeat;
    background-position: 50% center;
}

.sliderbar-qrcode {
    position: absolute;
    left: 0;
    top: 140px;
    width: 60px;
    height: 60px;

    cursor: pointer;
}

.sliderbar-qrcode img {
    position: absolute;
    width: 45%;
    top: 16px;
    left: 16px;
}

.sliderbar-qrcode p {
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 0;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
}

.sliderbar-qrcode-show {
    position: absolute;
    width: 180px;
    height: 180px;
    left: -196px;
    background-color: #fafafa;
    text-align: center;
    color: #a7a7a7;
    display: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.sliderbar-qrcode-show img {
    width: 100%;
    height: auto;
    width: 180px;
    height: 180px;
}

.sliderbar-qrcode-person {
    position: absolute;
    left: 0;
    top: 140px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.sliderbar-qrcode-person img {
    position: absolute;
    width: 45%;
    top: 16px;
    left: 16px;
}

.sliderbar-qrcode-person p {
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
}

.sliderbar-qrcode-person-show {
    position: absolute;
    width: 200px;
    height: 230px;
    bottom: 0;
    left: -215px;
    border: 1px solid #a7a7a7;
    background-color: white;
    text-align: center;
    color: #a7a7a7;
    display: none;
}

.sliderbar-qrcode-person-show img {
    width: 100%;
    height: auto;
    width: 180px;
    height: 180px;
}

/*侧边栏*/

#section-product {
    width: 100%;
    margin: 80px auto;
}
.section-product .index-banner-nav {
    height: 480px;
    position: absolute;
    width: 1200px;
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.sec-more {
    text-align: center;
    margin-top: 30px;
}
.sec-more a {
    font-size: 16px;
    border: 1px solid #66b4ff;
    border-radius: 30px;
    padding: 0px 20px;
    display: inline-block;
    color: #66b4ff;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
}
.sec-more a:hover {
    color: #fff;
    background-color: #66b4ff;
}
.new-time {
    text-align: center;
}
.new-time li {
    margin-top: 20px;
    background-color: #ccc;
}

/*分类*/
.classification {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.nav-tip {
    height: 60px;
    display: block;
}

.nav-tip li {
    color: #333;
    -webkit-font-smoothing: antialiased;
}

.nav-tip li {
    float: left;
    line-height: 60px;
}

.nav-tip li a {
    color: #333;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    display: block;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    text-align: center;
}

/*分页*/
.wrap_page {
    width: 1200px;
    text-align: right;
    margin: 0 auto;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 40px;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li > a, .pagination > li > span {
    color: #3399ff;
    cursor: pointer;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 24px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #3399ff;
    border-color: #3399ff;
    color: #fff;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

/*小程序案例 start*/
.case_image {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/case_banner.png');
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    background-size: 100% 100%;
    background-height: 300px;
    margin: 0 auto;
    margin-top: 80px;
}
.case_world {
    margin: auto;
    padding-top: 110px;
    width: 1200px;
    text-align: center;
}
.world_size {
    color: #ffffff;
    font-size: 34px;
}
.world_sizes {
    color: #ffffff;
    padding-top: 10px;
    font-size: 16px;
}
.cases {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0 90px 0px;
}
.cases_title {
    width: 1200px;
    margin: 0 auto;
    height: 122px;
    padding: 30px 0px 0px 0px;
    background-color: #ffffff;
    margin-bottom: 30px;
    border: 1px solid #e5e5e5;
}
.cases-xs-1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
    float: left;
    width: 8.33333333%;
    margin: auto;
}
.cases_o4NM2M {
    font-size: 16px;
    color: #333333;
    height: 30px;
}
.cases-xs-1 .cases_o4NM2M:hover {
    cursor: pointer;
    color: #3399ff;
}

/*小程序案例 end*/
