.submnu {
    /* height: 260px;*/
    /*width: 1903px;
    position: absolute;
    z-index: 6;*/

    background-color: rgba(0, 0, 0, 0.7);
}
/*button 样式*/
.comm-btn {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    background: #fff;
    border-radius: 3px;
    letter-spacing: .025em;
    color: #09bb07;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.comm-btn:active {
    background: #eee;
    -webkit-transform: translateY(1px);
}

.comm-btn.primary {
    color: #39f;
    border: 1px solid #39f;
}

.comm-btn.primary:hover {
    background: #39f;
    color: #fff;
}

.comm-btn.primary:active {
    background: #5CB0FD;
    -webkit-transform: translateY(1px);
}

.comm-btn.warn {
    background: #39f;
    color: #fff;
}

.comm-btn.warn:hover {
    background: #5CB0FD;
    color: #fff;
}

.comm-btn.warn:active {
    background: #5CB0FD;
    -webkit-transform: translateY(1px);
}

.comm-btn.mid-btn {
    height: 50px;
    line-height: 50px;
    padding: 0 28px;
    font-size: 1.8rem;
}

.comm-btn.large-btn {
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
    font-size: 2.2rem;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.submnu {
    /* height: 260px;*/
    /*width: 1903px;
    position: absolute;
    z-index: 6;*/

    background-color: rgba(0, 0, 0, 0.7);
}
html, body, .h-box, .f_box {
    min-width: 1200px;
}
.header {
    height: 80px;
}

.h-box {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #fff;
    padding: 15px 0;
}

.header a:hover {
    text-decoration: none;
}

.header .fr {
    line-height: 80px;
    font-size: 16.24px;
}

.header li {
    float: left;
    border-radius: 3px;
    overflow: hidden;
    margin-left: 2px;
    position: relative;
}
.header {
    width: 100%;
    min-width: 1100px;
    background: #fff;
    border-bottom: 1px solid #ededed;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 200;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.header {
    position: fixed;
    top: 0;
}

.header .header-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1200px;
    height: 80px;
}
.menu {
    margin-right: 50px;
}

.h-btn .reg-box {
    position: relative;
    display: inline-block;
}

.h-btn .reg-box i {
    background: #fff;
    color: #09BB07;
    border: 1px solid #09BB07;
    position: absolute;
    font-size: 13px;
    font-style: normal;
    left: 50%;
    margin-left: -114px;
    top: 50px;
    line-height: 22px;
    padding: 0 8px;
    border-radius: 3px;
    white-space: nowrap;
}

.h-btn .reg-box i:after, .h-btn .reg-box i:before {
    content: "";
    display: block;
    position: absolute;
    left: 106px;
    border: 8px solid;
    border-color: transparent transparent #09BB07 transparent;
    top: -16px;
}

.h-btn .reg-box i:before {
    border-bottom-color: #fff;
    top: -15px;
    z-index: 1;
}

.menu a {
    display: block;
    line-height: 80px;
    padding: 0 22px;
    position: relative;
    overflow: hidden;
}

.menu a:after {
    content: "";
    display: none;
    position: absolute;
}

.menu a:after {
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
    z-index: -2;
    border-radius: 50%;
}

.menu a:hover, .menu a.active {
    color: #39f;
}

.menu a:hover:after, .menu a.active:after {
    display: block;
}
.video {
    margin: 1px 0 0 15px;
    position: relative;
    line-height: 80px;
}

/*自适应*/

@media (max-width: 1440px) {
    .h-box {
        left: 5%;
        width: 90%;
    }

    .slider-txt {
        left: 2%;
    }

    .main {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 1366px) {
    .h-box {
        left: 0;
        width: 100%;
    }

    .f_box {
        width: 100%;
    }

    .slider-img {
        right: 5%;
    }

    .main {
        margin-left: 30px;
        margin-right: 30px;
    }

    .bx-wrapper {
        margin-left: -30px;
        margin-right: -30px;
    }

    .menu a {
        padding: 0 15px;
    }

    .menu {
        margin-right: 20px;
    }
}
/*侧边栏*/

.sliderbar {
    width: 60px;
    position: fixed;
    z-index: 100;
    top: 40%;
    margin-top: -100px;
    right: 10px;
}

.sliderbar-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    display: block;
    background-color: black;
    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    opacity: 0.25;
    cursor: pointer;
}

.sliderbar-item.active {
    background-color: #646464;

    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

.sliderbar-up {
    position: fixed;
    z-index: 100;

    right: 10px;
    bottom: 20px;
    width: 60px;
    height: 60px;

    cursor: pointer;

    display: none;
}

.sliderbar-up img {
    position: absolute;

    top: 18px;
    left: 14px;
}

.sliderbar-qq {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;

    cursor: pointer;
}

.sliderbar-qq img {
    position: absolute;
    width: 45%;
    top: 16px;
    left: 16px;
}

.sliderbar-qq p {
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 0;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
}

.sliderbar-phone {
    position: absolute;
    left: 0;
    top: 70px;
    width: 60px;
    height: 60px;

    cursor: pointer;
}

.sliderbar-phone img {
    position: absolute;
    width: 45%;
    top: 16px;
    left: 16px;
}

.sliderbar-phone-show {
    position: absolute;
    width: 220px;
    height: 60px;
    top: 70px;
    left: -235px;
    background-color: #646464;
    line-height: 60px;
    text-align: center;
    color: white;

    display: none;
}
.sliderbar-top {
    position: absolute;
    left: 0;
    top: 70px;
    width: 60px;
    height: 60px;

    cursor: pointer;
}
.sliderbar-top img {
    position: absolute;
    width: 45%;
    top: 16px;
    left: 16px;
}
#goTop {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    display: block;
    background-color: black;
    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    opacity: 0.25;
    cursor: pointer;
}

#goTop:hover {
    background-color: #646464;

    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

#goCart, #goChat, #goTop, #feedback {
    background-image: url('../img/top.png') !important;
    background-repeat: no-repeat;
    background-position: 50% center;
}

.sliderbar-qrcode {
    position: absolute;
    left: 0;
    top: 140px;
    width: 60px;
    height: 60px;

    cursor: pointer;
}

.sliderbar-qrcode img {
    position: absolute;
    width: 45%;
    top: 16px;
    left: 16px;
}

.sliderbar-qrcode p {
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 0;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
}

.sliderbar-qrcode-show {
    position: absolute;
    width: 180px;
    height: 180px;
    left: -196px;
    background-color: #fafafa;
    text-align: center;
    color: #a7a7a7;
    display: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.sliderbar-qrcode-show img {
    width: 100%;
    height: auto;
    width: 180px;
    height: 180px;
}

.sliderbar-qrcode-person {
    position: absolute;
    left: 0;
    top: 140px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.sliderbar-qrcode-person img {
    position: absolute;
    width: 45%;
    top: 16px;
    left: 16px;
}

.sliderbar-qrcode-person p {
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
}

.sliderbar-qrcode-person-show {
    position: absolute;
    width: 200px;
    height: 230px;
    bottom: 0;
    left: -215px;
    border: 1px solid #a7a7a7;
    background-color: white;
    text-align: center;
    color: #a7a7a7;
    display: none;
}

.sliderbar-qrcode-person-show img {
    width: 100%;
    height: auto;
    width: 180px;
    height: 180px;
}

/*侧边栏*/

/*foot*/
.f-box {
    width: 80%;
    margin: 0px auto;
    padding: 50px 0px;
    border-top: 1px solid #eee;
}
@media all {
    .cbsect_b547f460 {
        padding-bottom: 100px;
        padding-top: 100px;
        background-color: rgba(0, 0, 0, 0);
    }
    .cbdiv_304187f5 {
        position: absolute;
        z-index: 0;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
    }
    .cbdiv_eecf3492 {
        position: relative;
        bottom: 0px;
        right: 0px;
        top: 0px;
        left: 0px;
        background-size: cover;
        background-position: 50% 50%;
        height: 100%;
    }
    .cbdiv_49b93207 {
        height: 100%;
        color: rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        background-image: linear-gradient(140deg, currentcolor, transparent);
        opacity: 0.6;
        z-index: 0;
        bottom: 0px;
        right: 0px;
        top: 0px;
        left: 0px;
    }
    .cbcont_422f26d3 {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: rgba(0, 0, 0, 0);
        min-height: 20px;
    }
    .cbdiv_5ea0c231 {
        min-height: 275px;
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .cbdiv_1c7d9f41 {
        flex-direction: column;
        display: flex;
        flex: 1 1 0%;
        align-items: center;
    }
    .cbdiv_d014f572 {
        padding: 2vw;
        color: #434343;
        text-align: center;
        width: 65%;
    }
    .cbimag_493be3f3 {
        margin-top: 20px;
        width: 235px;
        margin-bottom: 20px;
    }
    .cbdiv_8c25972c {
        min-height: 20px;
    }
    .cbhead_465d55fb {
        line-height: 1.3em;
        margin-top: 0px;
        font-family: Roboto;
        margin-bottom: 5px;
        font-size: 80px;
        font-weight: lighter;
    }
    .cbhead_d2341174 {
        line-height: 1.3em;
        margin-top: 0px;
        font-family: Roboto;
        padding-left: 2px;
        padding-right: 2px;
    }
    .cbpara_cafcce31 {
        line-height: 1.7em;
        opacity: 0.8;
        padding-left: 2px;
        padding-right: 2px;
    }
    .cbdiv_920a9e44 {
        min-height: 20px;
    }
    .cbbsbu_99a21c7a {
        min-width: 100px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .cbdiv_cb23500b {
        min-height: 20px;
        margin-top: 10px;
    }
    .cbicon_fd303e67 {
        margin-right: 8px;
        font-size: 16px;
    }
    .cbtext_8edc7665 {
        color: inherit;
    }
    .section_vYtvQy {
        height: 710px;
    }
    .div_wZI4aj {
        margin-top: 80px;
        height: 600px;
        background-image: url(../img/679c214a557c6ed1beed5ac22ff61433_origin.png);
        background-size: 100% 100%;
    }
    .row_a7jDug {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .column_m1eemC {
        height: 600px;
        width: 55%;
    }
    .column_IlLtYL {
        height: 710px;
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }
    .section_W08Z4Z {
        height: 400px;
    }
    .div_6SvAA8 {
        width: 1100px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .column_w4IqUL {
        height: 400px;
        text-align: center;
    }
    .column_BykuO1 {
        height: 400px;
        text-align: center;
    }
    .column_gUAwfZ {
        height: 400px;
        text-align: center;
    }
    .column_u0A10y {
        height: 400px;
        text-align: center;
    }
    .section_tAPgS0 {
        height: 800px;
        background-color: rgba(250, 250, 250, 1);
    }
    .div_uM8jIY {
        width: 1200px;
        height: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .column_DTlFIj {
        height: 800px;
    }
    .column_gs6aJp {
        height: 800px;
        text-align: center;
        transform: rotate(0deg) scale(1) translate(0px, 0%);
        transition: all 0s ease;
    }
    .section_rMcc1i {
        height: 800px;
    }
    .div_A0b6Un {
        width: 1200px;
        height: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .column_hf1xfL {
        height: 800px;
        color: rgb(29, 29, 29);
        text-align: center;
        padding-left: 15px;
    }
    .column_Iml6Yd {
        height: 800px;
    }
    .section_AZ8Ost {
        height: 800px;
        background-color: rgba(250, 250, 250, 1);
    }
    .div_qBfAaF {
        width: 1200px;
        height: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .row_9sKKnb {
        height: 800px;
    }
    .column_uQDXZQ {
        height: 800px;
    }
    .column_1awblb {
        height: 800px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .section_b2anzt {
        height: 820px;
    }
    .div_tnMZjN {
        width: 1200px;
        height: 820px;
        margin-left: auto;
        margin-right: auto;
    }
    .section_nIxKSH {
        background-color: rgb(252, 252, 252);
        background-image: url("../img/32666e7a8a0d8136ca35b828f45cc55a_origin.png");
        background-size: 100% 100%;
        margin-bottom: -5px;
        padding-top: 0px;
        height: 800px;
    }
    .container_TenUu7 {
        width: 80%;
        max-width: 1200px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .div_uk3Mpu {
        text-align: center;
    }
    .heading_xHu8pY {
        text-align: center;
        margin-top: 0px;
        display: inline-block;
        font-weight: 100;
        color: rgb(255, 255, 255);
        font-size: 30px;
    }
    .heading_I6uXYg {
        margin-top: 0px;
        display: inline-block;
    }
    .div_cwszny {
        min-height: 2px;
        border-top-style: solid;
        border-top-color: rgba(74, 162, 209, 1);
        border-top-width: 1px;
        width: 150px;
        margin: 3% auto;
    }
    .paragraph_JGAuV9 {
        text-align: center;
        margin-bottom: 30px;
        line-height: 2em;
        font-size: 16px;
        color: #606060;
    }
    .row_T7mneQ {
        padding-top: 0px;
    }
    .div_PrT7o7 {
        padding: 35px 30px 10px;
        height: 240px;
        width: 240px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }
    .icon_19QVH8 {
        color: rgb(255, 255, 255);
        font-size: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .paragraph_FMhf6E {
        text-align: center;
        color: rgb(255, 255, 255);
        font-weight: 500;
        margin-top: 20px;
    }
    .paragraph_H3QXtX {
        color: rgb(255, 255, 255);
        text-align: center;
        line-height: 1.5em;
    }
    .div_4itu7k {
        padding: 35px 30px 10px;
        height: 240px;
        width: 240px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }
    .div_Pfv6sF {
        padding: 35px 30px 10px;
        height: 240px;
        width: 240px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }
    .div_i4vk0A {
        padding: 35px 30px 10px;
        height: 240px;
        width: 240px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }
    .image_9GKy6k {
        margin: 0px auto auto;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        position: absolute;
        display: inline-block;
        padding-top: 120px;
    }
    .heading_6ZfX9o {
        color: rgb(29, 29, 29);
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 240px;
    }
    .image_wTb4xP {
        padding-top: 120px;
    }
    .image_epuYYj {
        padding-top: 120px;
    }
    .image_H3Oe3I {
        padding-top: 120px;
    }
    .heading_JCA8ha {
        color: rgb(29, 29, 29);
        font-size: 20px;
        padding-bottom: 120px;
        transform: rotate(0deg) scale(1) translate(0px, 6px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 6px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 6px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 6px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 6px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .heading_da8lTy {
        color: rgb(29, 29, 29);
        font-size: 20px;
        padding-bottom: 120px;
        transform: rotate(0deg) scale(1) translate(0px, 6px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 6px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 6px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 6px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 6px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .heading_XZGc04 {
        color: rgb(29, 29, 29);
        font-size: 20px;
        padding-bottom: 120px;
        transform: rotate(0deg) scale(1) translate(0px, 236px);
        transition: all 0s ease;
    }
    .heading_mknzXE {
        color: rgb(29, 29, 29);
        font-size: 20px;
        transform: rotate(0deg) scale(1) translate(0px, 6px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 6px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 6px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 6px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 6px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .image_1fwuaM {
        margin-top: auto;
        margin-bottom: auto;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        position: absolute;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    .image_ewU6I3 {
        margin: auto 0px auto auto;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        position: absolute;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    .image_sdNdMT {
        margin-top: auto;
        margin-bottom: auto;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        position: absolute;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    .image_QgcUN7 {
        margin: auto auto 0px;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        position: absolute;
        display: inline-block;
    }
    .row_T7mneQ.industry {
        transform: rotate(0deg) scale(1) translate(0%, 0%);
        transition: all 0s ease;
        padding-top: 40px;
    }
    .image_vP2N2Z {
        padding-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        transform: rotate(0deg) scale(1) translate(0px, 38px);
        transition: all 0s ease;
    }
    .image_bZ3Kzx {
        padding-bottom: 0px;
        transform: rotate(0deg) scale(1) translate(0px, 34px);
        transition: all 0s ease;
    }
    .image_qgMjOb {
        padding-bottom: 0px;
        transform: rotate(0deg) scale(1) translate(0px, 34px);
        transition: all 0s ease;
    }
    .image_cqgy1Z {
        transform: rotate(0deg) scale(1) translate(0px, 38px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 38px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 38px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 38px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 38px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .image_JKQHEu {
        transform: rotate(0deg) scale(1) translate(0px, 34px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 34px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 34px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 34px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 34px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .image_h7ABO3 {
        transform: rotate(0deg) scale(1) translate(0px, 38px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 38px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 38px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 38px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 38px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .image_NZOZIp {
        margin-bottom: 0px;
        transform: rotate(0deg) scale(1) translate(0px, 34px);
        transition: all 0s ease;
        padding-bottom: 0px;
    }
    .image_fgKHyf {
        padding-bottom: 0px;
        transform: rotate(0deg) scale(1) translate(0px, 55px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 55px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 55px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 55px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 55px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .heading_hJvEUe {
        font-size: 20px;
        color: rgb(29, 29, 29);
        padding-bottom: 0px;
        transform: rotate(0deg) scale(1) translate(0px, 44px);
        transition: all 0s ease;
    }
    .heading_Ua5N3b {
        font-size: 20px;
        color: rgb(29, 29, 29);
        transform: rotate(0deg) scale(1) translate(0px, 40px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 40px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 40px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 40px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 40px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .heading_yNhbyG {
        font-size: 20px;
        color: rgb(29, 29, 29);
        transform: rotate(0deg) scale(1) translate(0px, 42px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 42px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 42px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 42px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 42px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .heading_FDyi1z {
        font-size: 20px;
        color: rgb(29, 29, 29);
        transform: rotate(0deg) scale(1) translate(0px, 50px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 50px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 50px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 50px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 50px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .heading_hVBT1Q {
        font-size: 20px;
        color: rgb(29, 29, 29);
        transform: rotate(0deg) scale(1) translate(0px, 43px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 43px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 43px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 43px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 43px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .heading_T8ShnW {
        color: rgb(29, 29, 29);
        font-size: 20px;
        transform: rotate(0deg) scale(1) translate(0px, 50px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 50px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 50px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 50px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 50px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .heading_sUcubD {
        color: rgb(29, 29, 29);
        font-size: 20px;
        transform: rotate(0deg) scale(1) translate(0px, 44px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 44px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 44px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 44px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 44px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .heading_MjoBaN {
        color: rgb(29, 29, 29);
        font-size: 20px;
        padding-bottom: 142px;
        transform: rotate(0deg) scale(1) translate(0px, 80px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 80px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 80px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 80px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 80px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .heading_o4NM2M {
        font-size: 46px;
        color: rgb(255, 255, 255);
        padding-top: 185px;
        margin-top: 0px;
        transform: rotate(0deg) scale(1) translate(0px, 0px);
        transition: all 0s ease;
        text-align: center;
    }
    .heading_gWDG4h {
        font-size: 30px;
        color: rgb(255, 255, 255);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        padding-bottom: 179px;
        line-height: 40px;
        text-align: center;
        transform: rotate(0deg) scale(1) translate(0px, 40px);
        transition: all 0s ease;
    }
    .heading_z32BjF {
        font-size: 30px;
        color: rgb(29, 29, 29);
        padding-left: 0px;
        margin-top: 0px;
        padding-top: 317px;
        margin-bottom: 0px;
        transform: rotate(0deg) scale(1) translate(0px, 0px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 0px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 0px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 0px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 0px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .heading_eYwhvN {
        font-size: 16px;
        color: rgb(102, 102, 102);
        line-height: 24px;
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
        padding-bottom: 318px;
        margin-bottom: 0px;
        transform: rotate(0deg) scale(1) translate(0px, 60px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 60px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 60px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 60px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 60px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .image_uuEpWA {
        padding-bottom: 0px;
        transform: rotate(0deg) scale(1) translate(0px, 30px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 30px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 30px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 30px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 30px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .heading_Yj5FZ2 {
        font-size: 30px;
        text-align: center;
        margin-top: 0px;
        padding-top: 317px;
        margin-bottom: 0px;
        transform: rotate(0deg) scale(1) translate(0px, 0px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 0px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 0px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 0px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 0px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .image_e5xT8a {
        transform: rotate(0deg) scale(1) translate(-120px, 0px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(-120px, 0px);
        -o-transform: rotate(0deg) scale(1) translate(-120px, 0px);
        -moz-transform: rotate(0deg) scale(1) translate(-120px, 0px);
        -webkit-transform: rotate(0deg) scale(1) translate(-120px, 0px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .heading_XhBL07 {
        font-size: 16px;
        line-height: 24px;
        color: rgb(102, 102, 102);
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 318px;
        transform: rotate(0deg) scale(1) translate(0px, 60px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 60px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 60px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 60px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 60px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .image_LpDhD4 {
        transform: rotate(0deg) scale(1) translate(0px, 30px);
        transition: All 0s ease;
        -ms-transform: rotate(0deg) scale(1) translate(0px, 30px);
        -o-transform: rotate(0deg) scale(1) translate(0px, 30px);
        -moz-transform: rotate(0deg) scale(1) translate(0px, 30px);
        -webkit-transform: rotate(0deg) scale(1) translate(0px, 30px);
        -ms-transition: All 0s ease;
        -o-transition: All 0s ease;
        -moz-transition: All 0s ease;
        -webkit-transition: All 0s ease;
    }
    .heading_95d4O1 {
        color: rgb(29, 29, 29);
        font-size: 30px;
        text-align: center;
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 317px;
    }
    .heading_wM1RWz {
        color: rgb(102, 102, 102);
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        transform: rotate(0deg) scale(1) translate(0px, 60px);
        transition: all 0s ease;
    }
    .image_2ZabnN {
        transform: rotate(0deg) scale(1) translate(0px, 30px);
        transition: all 0s ease;
    }
    .cbdiv_d014f572::before {
        position: relative;
    }
}
/*@media (min-width: 992px) {
}*/
@media (max-width: 1300px) {
    .cbdiv_d014f572 {
        width: 95%;
        /*Width: 100%;*/
    }
    .container_TenUu7 {
        width: 100%;
    }
    .heading_xHu8pY {
        font-size: 28px;
    }
    .heading_I6uXYg {
        font-size: 32px;
    }
    .column_2zu3ii {
        padding-left: 0px;
        padding-right: 7px;
    }
    .div_PrT7o7 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .column_4KGbo8 {
        padding-left: 8px;
        padding-right: 7px;
    }
    .div_4itu7k {
        padding-left: 10px;
        padding-right: 10px;
    }
    .column_MgKM3s {
        padding-right: 7px;
        padding-left: 8px;
    }
    .div_Pfv6sF {
        padding-left: 10px;
        padding-right: 10px;
    }
    .column_7yrnVZ {
        padding-right: 0px;
        padding-left: 8px;
    }
    .div_i4vk0A {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 767px) {
    .column_m1eemC {
        height: 600px;
        width: 55%;
    }
    .column_IlLtYL {
        height: 710px;
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }
    .column_w4IqUL {
        height: 400px;
        width: 25%;
        text-align: center;
    }
    .column_BykuO1 {
        height: 400px;
        width: 25%;
        text-align: center;
    }
    .column_gUAwfZ {
        height: 400px;
        width: 25%;
        text-align: center;
    }
    .column_u0A10y {
        height: 400px;
        width: 25%;
        text-align: center;
    }
    .column_DTlFIj {
        height: 800px;
        width: 50%;
    }
    .column_gs6aJp {
        height: 800px;
        width: 50%;
        text-align: center;
        transform: rotate(0deg) scale(1) translate(0px, 0%);
        transition: all 0s ease;
    }
    .column_hf1xfL {
        height: 800px;
        width: 50%;
        color: rgb(29, 29, 29);
        text-align: center;
        padding-left: 15px;
    }
    .column_Iml6Yd {
        height: 800px;
        width: 50%;
    }
    .column_uQDXZQ {
        height: 800px;
        width: 50%;
    }
    .column_1awblb {
        height: 800px;
        width: 50%;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .column_2zu3ii {
        padding-left: 0px;
        width: 25%;
        padding-right: 7px;
    }
    .column_4KGbo8 {
        padding-left: 8px;
        width: 25%;
        padding-right: 7px;
    }
    .column_MgKM3s {
        padding-right: 7px;
        width: 25%;
        padding-left: 8px;
    }
    .column_7yrnVZ {
        padding-right: 0px;
        width: 25%;
        padding-left: 8px;
    }
    .cbdiv_1c7d9f41 {
        width: 320px;
    }
    .cbdiv_d014f572 {
        width: 95%;
        Width: 100%;
    }
    .cbhead_465d55fb {
        width: 95%;
        Width: 100%;
    }
    .cbpara_cafcce31 {
        width: 95%;
        Width: 100%;
    }
    .cbbsbu_99a21c7a {
        margin-bottom: 10px;
    }
    .container_TenUu7 {
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .heading_xHu8pY {
        font-size: 26px;
    }
    .heading_I6uXYg {
        font-size: 30px;
    }
    .div_cwszny {
        margin-bottom: 10%;
    }
    .paragraph_JGAuV9 {
        line-height: 1.5em;
    }
    .column_2zu3ii {
        padding-left: 8px;
        padding-right: 8px;
    }
    .column_4KGbo8 {
        padding-right: 8px;
    }
    .column_MgKM3s {
        padding-right: 8px;
    }
    .column_7yrnVZ {
        padding-right: 8px;
    }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
